body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 25px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #E6F5CE;
	font-weight: 700;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;	
	text-transform: capitalize;

}
h1 {
	color: white;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
	font-size: 40px;
}
h3 {
	color: white;
	font-size: 20px;
	margin-top: 3px;
	text-align: center;
}

#chatbox {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	margin-top: 60px;
	-webkit-box-shadow: 5px 5px 8px 15px rgba(0,0,0,0), -15px 20px 20px 3px rgba(0,0,0,0.55); 
	box-shadow: 5px 5px 8px 15px rgba(0,0,0,0), -15px 20px 20px 3px rgba(0,0,0,0.55);

}
#userInput {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	margin-top: 60px;
	-webkit-box-shadow: 5px 5px 8px 15px rgba(0,0,0,0), 15px 20px 20px 3px rgba(0,0,0,0.55); 
	box-shadow: 5px 5px 8px 15px rgba(0,0,0,0), 15px 20px 20px 3px rgba(0,0,0,0.55);

}
#textInput {
	width: 87%;
	border: none;
	border-bottom: 3px solid #009688;
	font-family: monospace;
	font-size: 17px
}
#buttonInput {
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	padding: 3px;
	font-family: monospace;
	font-size: 17px
}
#gradient {
background: #0A6E70;
background: -moz-linear-gradient(top, #0A6E70 0%, #332BC5 50%, #000000 100%);
background: -webkit-linear-gradient(top, #0A6E70 0%, #332BC5 50%, #000000 100%);
background: linear-gradient(to bottom, #0A6E70 0%, #332BC5 50%, #000000 100%);
}
#feedbackButton {
	position: fixed;
	bottom: 0px;
	right: 0px
}
#tidbit {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 300px
}

.userText {
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	color: white;
	font-family: monospace;
	font-size: 17px;
	text-align: right;
	line-height: 30px
}
.userText span {
	background-color: #009688;
	padding: 10px;
	border-radius: 2px
}
.botText {
	color: white;
	font-family: monospace;
	font-size: 17px;
	text-align: left;
	line-height: 30px
}
.botText span {
	background-color: #EF5350;
	padding: 10px;
	border-radius: 2px
}

.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}