<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
  <div id="gradient">&nbsp;
    <h1>Protótipo do chatbot</h1>

    <h3>Implementação web do <a href="https://github.com/brunodpoliveira/chatbot_online">Chatbot Online</a> (Chabot-Chatterbot | Gui-Flask).</h3>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Oi! Eu sou o chatbot.</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Escreva sua mensagem aqui">
        <input id="buttonInput" type="submit" value="Enviar">
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
      </script>
    </div>
  <div class="container">
    <h3>Ajude-nos a melhorar o chatbot! Mande seu feedback</h3>
    {% if message %}
    <p class="message">{{ message | safe }}</p>
    {% endif %}
    <form action="/submit" method="POST">
        <div class="form-group">
            <h3>Nome</h3>
            <input
                    type="text"
                    name="customer"
                    placeholder="Seu nome aqui"
            />
        </div>
        <div class="form-group">
          <h3>Emoção</h3>
          <select name="emotion">
            <option value="">O que a frase te fez sentir?</option>
            <option value="Amei">Amei</option>
            <option value="Engraçado">Engraçado</option>
            <option value="Ofensivo">Ofensivo</option>
            <option value="Sem Sentido">Sem Sentido</option>
          </select>
        </div>
        <div class="form-group">
          <h3>Copie e cole a pergunta e resposta abaixo</h3>
          <textarea
            name="comments"
            id=""
            cols="30"
            rows="10"
            placeholder="Copie e cole a mensagem aqui"
          ></textarea>
        </div>
        <input type="submit" value="Enviar" class="btn" />
    </form>
</div>
  </div>
</body>
</html>
